In [11]:
from pathlib import Path
import datetime

import pandas as pd
import numpy as np
from artool import ar_io, toy
# remove display limits
pd.set_option("display.max_rows", None)
pd.set_option("display.max_columns", None)

## Price minutes data

In [12]:
df_min = pd.read_feather("/home/yangzhe/data/binance/data/futures/um/daily/klines/BTCUSDT/1m/features_H.feather")
df_min.head()

,time_H,price__high,price__min,price,price__mean,price__std,price__median,price__skew,vol,vol__mean,vol__std,vol__median,vol__skew,vol_taker_buy__sum,vol_taker_sell__sum,price_ema_60,vol_taker_buy_ratio,vol_taker_buy_ratio__mean,vol_taker_buy_ratio__std,vol_taker_buy_ratio__median,vol_taker_buy_ratio__skew,vol_taker_sell_ratio,vol_taker_sell_ratio__mean,vol_taker_sell_ratio__std,vol_taker_sell_ratio__median,vol_taker_sell_ratio__skew,price_ema_5,price_ema_30,price_ema_240,price_ema_1440,price_ema_4320,price_ema_10080,price_ema_5_diff,price_ema_30_diff,price_ema_60_diff,price_ema_240_diff,price_ema_1440_diff,price_ema_4320_diff,price_ema_10080_diff
0,2021-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-01-01 01:00:00,29055.000000,28706.000000,29015.000000,28914.488281,68.318756,28926.060547,-0.353375,7637.646973,131.683563,133.499786,94.551498,3.414068,3689.752930,3947.894043,28936.593750,0.353211,0.512246,0.178721,0.515137,-0.141465,0.646789,0.487754,0.178721,0.484863,0.141465,29014.197266,28958.390625,28919.429688,28915.267578,28914.746094,28914.597656,-0.802734,-56.609375,-78.406250,-95.570312,-99.732422,-100.253906,-100.402344
2,2021-01-01 02:00:00,29546.419922,28975.460938,29448.400391,29338.060547,135.159149,29391.109375,-1.371138,19543.400391,325.723358,395.871796,180.971497,3.809761,10386.351562,9157.048828,29330.974609,0.605835,0.497387,0.170827,0.484255,-0.032809,0.394165,0.502613,0.170827,0.515745,0.032809,29434.498047,29397.714844,29191.269531,29140.166016,29133.292969,29131.332031,-13.902344,-50.685547,-117.425781,-257.130859,-308.234375,-315.107422,-317.068359
3,2021-01-01 03:00:00,29500.000000,29159.160156,29237.060547,29330.345703,64.652733,29327.144531,0.327839,10049.719727,167.495331,141.286942,120.887001,2.597611,4513.354980,5536.365234,29307.423828,0.627714,0.479721,0.181485,0.467499,-0.116301,0.372286,0.520279,0.181485,0.532501,0.116301,29238.531250,29287.494141,29258.367188,29209.142578,29201.396484,29199.142578,1.470703,50.433594,70.363281,21.306641,-27.917969,-35.664062,-37.917969
4,2021-01-01 04:00:00,29379.410156,29174.949219,29302.109375,29282.322266,34.207699,29282.019531,-0.012804,5579.452148,92.990868,71.198143,64.073997,2.394396,2969.050049,2610.402100,29293.320312,0.266898,0.527730,0.195164,0.536005,0.097386,0.733102,0.472270,0.195164,0.463995,-0.097386,29316.427734,29299.656250,29270.201172,29230.019531,29222.673828,29220.496094,14.318359,-2.453125,-8.789062,-31.908203,-72.089844,-79.435547,-81.613281

## Funding rate minutes data

In [17]:
symbol = "BTCUSDT"
features = ["timestamp", "funding_timestamp", "funding_rate", "index_price", "mark_price"]
date_start = datetime.datetime(2022, 1, 1)
date_end = datetime.datetime(2022, 9, 1)
df_fr = toy.toy_data.get_symbol_data_coarse(symbol, date_start, date_end, features, use_8h=False)
df_fr["time"] = pd.to_datetime(df_fr["timestamp"], unit="us")
df_fr = df_fr.sort_values(by="time")
df_fr.head()

,timestamp,funding_timestamp,funding_rate,index_price,mark_price,symbol,time
0,1640995200206000,NaN,NaN,NaN,NaN,BTCUSDT,2022-01-01 00:00:00.206
1,1640995200206000,1.640995e+15,0.0001,46216.330981,46216.330981,BTCUSDT,2022-01-01 00:00:00.206
2,1640995201000000,1.641024e+15,0.0001,46216.330981,46216.691231,BTCUSDT,2022-01-01 00:00:01.000
3,1640995202005000,1.641024e+15,0.0001,46218.791922,46219.152172,BTCUSDT,2022-01-01 00:00:02.005
4,1640995203001000,1.641024e+15,0.0001,46218.862864,46219.010576,BTCUSDT,2022-01-01 00:00:03.001

In [18]:
# resample to 1min period
df_fr = df_fr.resample("1min", on="time").mean()
df_fr = df_fr.reset_index()
df_fr.head()

,time,timestamp,funding_timestamp,funding_rate,index_price,mark_price
0,2022-01-01 00:00:00,1.640995e+15,1.641024e+15,0.0001,46246.581155,46248.294231
1,2022-01-01 00:01:00,1.640995e+15,1.641024e+15,0.0001,46261.231628,46263.477066
2,2022-01-01 00:02:00,1.640995e+15,1.641024e+15,0.0001,46332.591270,46336.629332
3,2022-01-01 00:03:00,1.640995e+15,1.641024e+15,0.0001,46350.132126,46353.081767
4,2022-01-01 00:04:00,1.640995e+15,1.641024e+15,0.0001,46328.406610,46329.727793

In [19]:
# Add rolling features
new_cols = {}
for lookback in [3, 5, 10, 20, 50]:  # unit: 8h
    lb_min = lookback * 8 * 60
    new_cols[f"funding_rate_rol_mean_{lookback}"] = (
        df_fr["funding_rate"].rolling(lb_min, min_periods=1).mean()
    )
    new_cols[f"funding_rate_rol_std_{lookback}"] = (
        df_fr["funding_rate"].rolling(lb_min, min_periods=1).std()
    )
    new_cols[f"funding_rate_rol_max_{lookback}"] = (
        df_fr["funding_rate"].rolling(lb_min, min_periods=1).max()
    )
    new_cols[f"funding_rate_rol_min_{lookback}"] = (
        df_fr["funding_rate"].rolling(lb_min, min_periods=1).min()
    )
    new_cols[f"funding_rate_rol_skew_{lookback}"] = (
        df_fr["funding_rate"].rolling(lb_min, min_periods=1).skew()
    )
    new_cols[f"funding_rate_rol_kurt_{lookback}"] = (
        df_fr["funding_rate"].rolling(lb_min, min_periods=1).kurt()
    )
df_fr_append = pd.DataFrame(new_cols)
df_fr = pd.concat([df_fr, df_fr_append], axis=1)

In [20]:
agg_dict = {
    "funding_rate": ["mean", "std", "max", "min", "skew", "last"],
}

df_fr["time_H"] = df_fr["time"].dt.floor("H")
for hl in [5, 30, 60, 240, 1440]:  # in minutes
    df_fr[f"funding_rate_ema_{hl}"] = df_fr["funding_rate"].ewm(span=hl).mean()
    agg_dict[f"funding_rate_ema_{hl}"] = "last"
df_fr_agg = df_fr.groupby("time_H").agg(agg_dict)
df_fr_agg = df_fr_agg.shift(1)
df_fr_agg.columns = ["__".join(x) for x in df_fr_agg.columns.ravel()]
df_fr_agg.reset_index(inplace=True)
df_fr_agg.head()

/tmp/ipykernel_19158/2321727979.py:11: FutureWarning: Index.ravel returning ndarray is deprecated; in a future version this will return a view on self.
  df_fr_agg.columns = ["__".join(x) for x in df_fr_agg.columns.ravel()]

,time_H,funding_rate__mean,funding_rate__std,funding_rate__max,funding_rate__min,funding_rate__skew,funding_rate__last,funding_rate_ema_5__last,funding_rate_ema_30__last,funding_rate_ema_60__last,funding_rate_ema_240__last,funding_rate_ema_1440__last
0,2022-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-01-01 01:00:00,0.0001,4.321852e-21,0.0001,0.0001,0.0,0.0001,0.0001,0.0001,0.0001,0.0001,0.0001
2,2022-01-01 02:00:00,0.0001,3.945293e-21,0.0001,0.0001,0.0,0.0001,0.0001,0.0001,0.0001,0.0001,0.0001
3,2022-01-01 03:00:00,0.0001,0.000000e+00,0.0001,0.0001,0.0,0.0001,0.0001,0.0001,0.0001,0.0001,0.0001
4,2022-01-01 04:00:00,0.0001,0.000000e+00,0.0001,0.0001,0.0,0.0001,0.0001,0.0001,0.0001,0.0001,0.0001

In [23]:
# add future funding rate cumsum
new_cols = {}
for lookforward in [1, 3, 5, 10]:  # unit: 8h
    lf_h = lookforward * 8
    new_cols[f"funding_rate_future_{lookforward}"] = (
        df_fr_agg["funding_rate__last"].rolling(lf_h).sum().shift(-lf_h)
    ) / 8
df_fr_append = pd.DataFrame(new_cols)
df_fr_agg = pd.concat([df_fr_agg, df_fr_append], axis=1)
df_fr_agg.head()

,time_H,funding_rate__mean,funding_rate__std,funding_rate__max,funding_rate__min,funding_rate__skew,funding_rate__last,funding_rate_ema_5__last,funding_rate_ema_30__last,funding_rate_ema_60__last,funding_rate_ema_240__last,funding_rate_ema_1440__last,funding_rate_future_1,funding_rate_future_3,funding_rate_future_5,funding_rate_future_10,funding_rate_future_1,funding_rate_future_3,funding_rate_future_5,funding_rate_future_10,funding_rate_future_1,funding_rate_future_3,funding_rate_future_5,funding_rate_future_10
0,2022-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0004,0.0012,0.002,0.004,0.0008,0.0024,0.004,0.008,0.0001,0.0003,0.0005,0.001
1,2022-01-01 01:00:00,0.0001,4.321852e-21,0.0001,0.0001,0.0,0.0001,0.0001,0.0001,0.0001,0.0001,0.0001,0.0004,0.0012,0.002,0.004,0.0008,0.0024,0.004,0.008,0.0001,0.0003,0.0005,0.001
2,2022-01-01 02:00:00,0.0001,3.945293e-21,0.0001,0.0001,0.0,0.0001,0.0001,0.0001,0.0001,0.0001,0.0001,0.0004,0.0012,0.002,0.004,0.0008,0.0024,0.004,0.008,0.0001,0.0003,0.0005,0.001
3,2022-01-01 03:00:00,0.0001,0.000000e+00,0.0001,0.0001,0.0,0.0001,0.0001,0.0001,0.0001,0.0001,0.0001,0.0004,0.0012,0.002,0.004,0.0008,0.0024,0.004,0.008,0.0001,0.0003,0.0005,0.001
4,2022-01-01 04:00:00,0.0001,0.000000e+00,0.0001,0.0001,0.0,0.0001,0.0001,0.0001,0.0001,0.0001,0.0001,0.0004,0.0012,0.002,0.004,0.0008,0.0024,0.004,0.008,0.0001,0.0003,0.0005,0.001